Package: me.shymemoriees.gibbeh
Name: Gibbeh!!
Depends: mobilesubstrate, libactivator
Architecture: iphoneos-arm
Description: Gibbeh on your home screen!!
Maintainer: ShyMemoriees <memories@tw3lve.space>
Author: ShyMemoriees <memories@tw3lve.space>
Section: Tweaks
SileoDepiction: https://repo.memor1es.me/depicitions/gbh/index.html
Depiction: https://repo.memor1es.me/depicitions/gbh/index.html
Icon: https://repo.memor1es.me/depicitions/gbh/assets/icon.png
Version: 1.0-2+debug
Installed-Size: 616
